<div>
    <h2 id="page-heading">
        <span jhiTranslate="testApp.model.home.title">Models</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-model" [routerLink]="['/model/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="testApp.model.home.createLabel">
            Create a new Model
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="models?.length === 0">
        <span jhiTranslate="testApp.model.home.notFound">No models found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="models?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastName"><span jhiTranslate="testApp.model.lastName">Last Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="firstName"><span jhiTranslate="testApp.model.firstName">First Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="patronymic"><span jhiTranslate="testApp.model.patronymic">Patronymic</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="height"><span jhiTranslate="testApp.model.height">Height</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="chest"><span jhiTranslate="testApp.model.chest">Chest</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="waist"><span jhiTranslate="testApp.model.waist">Waist</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="hips"><span jhiTranslate="testApp.model.hips">Hips</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let model of models ;trackBy: trackId">
                    <td><a [routerLink]="['/model', model.id, 'view']">{{ model.id }}</a></td>
                    <td>{{ model.lastName }}</td>
                    <td>{{ model.firstName }}</td>
                    <td>{{ model.patronymic }}</td>
                    <td>{{ model.height }}</td>
                    <td>{{ model.chest }}</td>
                    <td>{{ model.waist }}</td>
                    <td>{{ model.hips }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/model', model.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/model', model.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(model)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="models?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
