<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-model-heading" jhiTranslate="testApp.model.home.createOrEditLabel">Create or edit a Model</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testApp.model.lastName" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                           formControlName="lastName"/>
                    <div *ngIf="editForm.get('lastName')!.invalid && (editForm.get('lastName')!.dirty || editForm.get('lastName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testApp.model.firstName" for="field_firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                           formControlName="firstName"/>
                    <div *ngIf="editForm.get('firstName')!.invalid && (editForm.get('firstName')!.dirty || editForm.get('firstName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('firstName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testApp.model.patronymic" for="field_patronymic">Patronymic</label>
                    <input type="text" class="form-control" name="patronymic" id="field_patronymic"
                           formControlName="patronymic"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testApp.model.height" for="field_height">Height</label>
                    <input type="text" class="form-control" name="height" id="field_height"
                           formControlName="height"/>
                    <div *ngIf="editForm.get('height')!.invalid && (editForm.get('height')!.dirty || editForm.get('height')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('height')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testApp.model.chest" for="field_chest">Chest</label>
                    <input type="text" class="form-control" name="chest" id="field_chest"
                           formControlName="chest"/>
                    <div *ngIf="editForm.get('chest')!.invalid && (editForm.get('chest')!.dirty || editForm.get('chest')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('chest')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testApp.model.waist" for="field_waist">Waist</label>
                    <input type="text" class="form-control" name="waist" id="field_waist"
                           formControlName="waist"/>
                    <div *ngIf="editForm.get('waist')!.invalid && (editForm.get('waist')!.dirty || editForm.get('waist')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('waist')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testApp.model.hips" for="field_hips">Hips</label>
                    <input type="text" class="form-control" name="hips" id="field_hips"
                           formControlName="hips"/>
                    <div *ngIf="editForm.get('hips')!.invalid && (editForm.get('hips')!.dirty || editForm.get('hips')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('hips')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
